.main
    padding: 80px 93px
    display: grid
    grid-template-columns: 1fr 1fr

.mainText
    display: flex
    flex-direction: column
    justify-content: center

    .wellcome
        margin-left: 60px
        font-size: 21px
        font-family: 'Cardo', serif
        color: #fff
        position: relative
        margin-bottom: 10px

        &::after
            content: ''
            position: absolute
            top: 50%
            left: -50px
            height: 2px
            width: 35px
            background-color: #FFCA42

    h1
        font-size: 64px
        color: #fff
        font-family: 'Cardo', serif
        margin-bottom: 25px

    .btn
        margin: 40px 0

    .mainBtns
        display: flex
        flex-direction: row
        padding-top: 30px
        align-items: center

    .mainDemoBtn
        width: 222px
        height: 66px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        font-family: 'Cardo'
        font-style: normal
        font-weight: 400
        font-size: 19px
        line-height: 30px
        letter-spacing: 0.38px
        text-transform: capitalize
        color: #FFFFFF

        p
            cursor: pointer
            transition: color 0.5s ease

            &:hover
                color: #FFCA42

        &::after
            content: ''
            border-bottom: 1px solid #FFFFFF
            width: 65%
            height: 5px

    .slogan
        width: 100%
        display: flex
        justify-content: space-between

.mainImg
    display: flex
    justify-content: flex-end
